* {
  overscroll-behavior: none;
}

body {
  background: rgb(5, 168, 54);
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  user-select: none;
}

.deck {
  background-image: url("./assets/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  background-color: blue;
  width: 30vw;
  height: 45vw;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 15vh;
}

.control .button {
  box-sizing: border-box;
  width: 20vw;
  height: 10vw;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: rgb(3, 123, 252);
}

.control .button:hover {
  background: rgb(82, 165, 255);
  border: 2px solid red;
  color: blue;
  font-weight: bold;
}

.cards-container {
  margin-top: 10vh;
}

.cards-container .card {
  position: absolute;
  width: 20vw;
  height: 30vw;
  background-color: white;
  margin: auto;
  border-radius: 12px;
  border: 2px solid black;
  margin-left: 40vw;

  transform-origin: 50% 100%;
  transition: transform 0.5s;
  
  transform: translateY(-45vh) scale(1.5) rotateY(180deg);
  overflow: hidden;
}

.card .frontface {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.card .backface {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/back.png");
  background-size: cover;
  background-position: center;
}

.card .info {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.info .value {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

.info .type {
  height: 30px;
}

.total {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(0, 255, 255, 0.6);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}